@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    @apply font-sans;
  }
  h1 {
    font-size: 1.5rem/* 24px */;
    line-height: 2rem/* 32px */;
  }

  @screen sm {
    h1 {
      font-size: 1.875rem/* 30px */;
      line-height: 2.25rem/* 36px */;
    }
  }
}
@layer components {
  .emoji-404{
    position: relative;
    animation: mymove 2.5s infinite;
  }
  @keyframes mymove {
      33%   {top: 0px;}
      66%  {top: 20px;}
      100%  {top: 0px}
  }
  .font-stroke {
    -webkit-text-stroke: 1.5px black;
  }
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-slide {
    background-size: cover;
    background-position: center;
  }

  .mySwiper2 {
    height: 80%;
    width: 100%;
  }

  .mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }

  .mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }

  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 50%;
    width: calc(var(--swiper-navigation-size) / 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color, var(--swiper-theme-color));
    background-color: black !important;
  }
  :root {
    --swiper-navigation-size: 24px !important;
    --swiper-navigation-color: #fff;
    --swiper-pagination-color: #fff;
  }


  @media (min-width: 640px) {
    table {
      display: inline-table !important;
    }

    thead tr:not(:first-child) {
      display: none;
    }
  }

  td:not(:last-child) {
    border-bottom: 0;
  }

  th:not(:last-child) {
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  }
}
@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(
        to right,
        var(--color-primary-400),
        var(--color-primary-500)
      );
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
  }
  @media (prefers-reduced-motion: no-preference) {
    .animated-underline {
      transition: 0.3s ease;
      transition-property: background-size, color, background-color,
        border-color;
    }
  }
  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size: 0 2px, 100% 2px;
  }
  .last-child-custom:nth-last-of-type(1) > ol,
  .last-child-custom:nth-last-of-type(2) > ol,
  .last-child-custom:nth-last-of-type(3) > ol {
    @apply right-[20%];
  }
  .last-child-custom:nth-last-of-type(1) > ol > div.child-custom,
  .last-child-custom:nth-last-of-type(2) > ol > div.child-custom,
  .last-child-custom:nth-last-of-type(3) > ol > div.child-custom {
    @apply flex justify-end pr-2;
  }

  .last-child-custom:nth-of-type(1) > ol,
  .last-child-custom:nth-of-type(2) > ol,
  .last-child-custom:nth-of-type(3) > ol,
  .last-child-custom:nth-of-type(4) > ol {
    @apply left-[10%];
  }
  .last-child-custom:nth-of-type(1) > ol > div.child-custom,
  .last-child-custom:nth-of-type(2) > ol > div.child-custom,
  .last-child-custom:nth-of-type(3) > ol > div.child-custom,
  .last-child-custom:nth-of-type(4) > ol > div.child-custom {
    @apply flex justify-start pl-2;
  }
  .last-child-custom:nth-last-of-type(1)
    > ol
    > div.child-custom-second
    > li
    > ol,
  .last-child-custom:nth-last-of-type(2)
    > ol
    > div.child-custom-second
    > li
    > ol,
  .last-child-custom:nth-last-of-type(3)
    > ol
    > div.child-custom-second
    > li
    > ol {
    @apply md:right-full md:left-auto xl:right-auto xl:left-full;
  }
}
